* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
}

#results {
  margin-top: 20px;
}

.property {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}


/* test */